* {
  /* border: 2px solid green; */
  user-select: none;
  transition-delay: 0.01s;
  transition-duration: 0.3s;
  animation: fadeIn ease-in 0.5s;
}
@media screen and (max-width: 768px) {
  li {
    list-style-type: none;
    border-color: rgb(101, 144, 191);
    padding: 1rem 0rem 1rem 10vw;
  }
  li:active {
    background-color: rgb(67, 118, 144);
  }
  #box-navbar {
    background-color: rgb(0, 71, 102);
    #box-title {
      #box-title-left {
        display: grid;
        grid-template-columns: 70% 30%;
        z-index: 10;
        #title-logo {
          padding: 2rem 0rem 2rem 10vw;
          color: white;
          transition-delay: 0.01s;
          transition-duration: 0.25s;
          user-select: none;
        }
        #title-logo:active {
          color: black;
        }
        #box-menu {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 0rem 10vw 0rem 0rem;
          color: white;
          user-select: none;
          .box-hamburger-menu {
            .bar1,
            .bar2,
            .bar3 {
              width: 30px;
              height: 4px;
              background-color: white;
              margin: 5px 0;
              transition: 0.8s;
            }
          }
        }
        .change .box-hamburger-menu .bar1 {
          transform: translate(0, 9px) rotate(-45deg);
        }
        .change .box-hamburger-menu .bar2 {
          opacity: 0;
        }
        .change .box-hamburger-menu .bar3 {
          transform: translate(0, -9px) rotate(45deg);
        }
        #box-menu:active {
          color: rgb(100, 171, 202);
        }
      }
      #box-title-right {
        display: none;
        flex-direction: column;
        background-color: rgb(52, 103, 129);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  li {
    list-style-type: none;
    border-color: rgb(101, 144, 191);
    padding: 1rem 0rem 1rem 10vw;
  }
  li:active {
    background-color: rgb(67, 118, 144);
  }
  #box-navbar {
    background-color: rgb(0, 71, 102);
    #box-title {
      #box-title-left {
        display: grid;
        grid-template-columns: 70% 30%;
        z-index: 10;
        #title-logo {
          padding: 2rem 0rem 2rem 10vw;
          color: white;
          transition-delay: 0.01s;
          transition-duration: 0.25s;
          user-select: none;
        }
        #title-logo:active {
          color: black;
        }
        #box-menu {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 0rem 10vw 0rem 0rem;
          color: white;
          user-select: none;
          .box-hamburger-menu {
            .bar1,
            .bar2,
            .bar3 {
              width: 30px;
              height: 4px;
              background-color: white;
              margin: 5px 0;
              transition: 0.8s;
            }
          }
        }
        .change .box-hamburger-menu .bar1 {
          transform: translate(0, 9px) rotate(-45deg);
        }
        .change .box-hamburger-menu .bar2 {
          opacity: 0;
        }
        .change .box-hamburger-menu .bar3 {
          transform: translate(0, -9px) rotate(45deg);
        }
        #box-menu:active {
          color: rgb(100, 171, 202);
        }
      }
      #box-title-right {
        display: none;
        flex-direction: column;
        background-color: rgb(52, 103, 129);
        color: white;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    background-color: rgb(52, 103, 129);
    opacity: 0;
  }
  100% {
    background-color: rgb(52, 103, 129);
    opacity: 1;
  }
}
